.bg-img-header{
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
}
.jumbotron.bg-img-header h1, .jumbotron.bg-img-header  p{
	color: #fff;
}

.jumbotron.bg-img-header  {
	text-align: center;
	margin-top: 0;
	padding: 88px 0;
}
.navbar.navbar-default {
	margin-bottom: 0;
}
.glyphicon.glyphicon-camera {
	font-size: 1.5em;
    color: #000;
}
.contact {
	text-transform: uppercase;
}
.img-bloques {
	padding: 20px;
    margin-bottom: 20px;
    border: 4px solid #eaeaea;
    border-radius: 30px;
    text-align: center;
}
.img-thumbnail {
	padding: 0;
	overflow: hidden;
}
   
.img-bloques h2, .img-bloques p {
	text-align: center;
}
.img-bloques button {
	margin: 20px auto;
    display: block;
}
 .footer {
 	text-align: center;
 }
 .panel-body {
 	font-size: 3rem;
 	padding: 5px;
 }

